/*individual errors*/
#error_1
{
    display: none;
}
#error_2
{
    display: none;
}
#error_3
{
    display: none;
}
#error_4
{
    display: none;
}
#error_5
{
    display: none;
}
#error_6
{
    display: none;
}
#error_7
{
    display: none;
}
#error_8
{
    display: none;
}
#error_9
{
    display: none;
}
#error_10
{
    display: none;
}
#error_11
{
    display: none;
}
#error_12
{
    display: none;
}
#error_13
{
    display: none;
}
#error_14
{
    display: none;
}
#error_15
{
    display: none;
}
#error_16
{
    display: none;
}
#error_17
{
    display: none;
}
#error_18
{
    display: none;
}
#error_19
{
    display: none;
}
#error_20
{
    display: none;
}
/*individual errors-end*/
#ruloul_2{display: none;}
#ruloul_3{display: none;}
#ruloul_4{display: none;}
#ruloul_5{display: none;}
#ruloul_6{display: none;}
#ruloul_7{display: none;}
#ruloul_8{display: none;}
#ruloul_9{display: none;}
#ruloul_10{display: none;}
#ruloul_11{display: none;}
#ruloul_12{display: none;}
#ruloul_13{display: none;}
#ruloul_14{display: none;}
#ruloul_15{display: none;}
#ruloul_16{display: none;}
#ruloul_17{display: none;}
#ruloul_18{display: none;}
#ruloul_19{display: none;}
#ruloul_20{display: none;}
#aditional_2{display: none;}
#aditional_3{display: none;}
#aditional_4{display: none;}
#aditional_5{display: none;}
#aditional_6{display: none;}
#aditional_7{display: none;}
#aditional_8{display: none;}
#aditional_9{display: none;}
#aditional_10{display: none;}
#aditional_11{display: none;}
#aditional_12{display: none;}
#aditional_13{display: none;}
#aditional_14{display: none;}
#aditional_15{display: none;}
#aditional_16{display: none;}
#aditional_17{display: none;}
#aditional_18{display: none;}
#aditional_19{display: none;}
#aditional_20{display: none;}
